# MySQL 镜像配置
MYSQL_IMAGE=mysql:8.0
# MySQL 数据库配置
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=
MYSQL_PORT=3306
MYSQL_DATA_DIR=/Users/guang/docker/mysql/data
# Redis 镜像配置
REDIS_IMAGE=redis:7-alpine
REDIS_DATA_DIR=/Users/guang/docker/redis/data